$global-spacing: 8px;
$global-border-radius: 5px;

$mobile: 'only screen and (max-width: 950px)';
$sm: 'only screen and (max-width: 1242px)';
$desktop: 'only screen and (min-width: 951px)';
$desktop-lg: 'only screen and (min-width: 1242px)';

// @media #{$desktop} {
//   padding: 0;
// }
